# -* coding: utf-8 -*-
# vim: ft=jinja
# OS family parameters overriding defaults

{% set samba_osmap = salt['grains.filter_by']({
    'default':{
        'client': 'samba-client',
        'service': 'smb',
    },
    'Debian': {
        'client': 'smbclient',
        'service': salt['grains.filter_by']({
            'lenny': 'samba',
            'squeeze': 'samba',
            'wheezy': 'samba',
            'jessie': 'smbd',
            'stretch': 'smbd',
            'buster': 'smbd',
            'bullseye': 'smbd'
        }, grain='oscodename', default='lenny'),
    },
    'Suse':{
        'service': 'smb',
        'client' : 'samba-client',
        'preinstall': {
            'cmd': 'zypper --non-interactive dup --no-allow-vendor-change',
            'osreleases': [42],
        },
     },
     'Arch': {
         'service': 'smbd',
         'client': 'smbclient',
     },
     'FreeBSD': {
         'server': 'samba44',
         'client': 'samba44',
         'service': 'samba_server',
         'config': '/usr/local/etc/smb4.conf',
     },
     'Gentoo': {
         'server': 'net-fs/samba',
         'client': 'net-fs/samba',
     },
     'MacOS': {},
 }, grain='os_family', merge=salt['grains.filter_by']({
     'Ubuntu': {
        'client': 'smbclient',
        'service': salt['grains.filter_by']({
            'xenial': 'smbd',
            'trusty': 'samba',
         }, grain='oscodename', default='xenial'),
      },
    }, grain='os')
)%}

#Winbind
{% set winbind_osmap = salt['grains.filter_by']({
   'default':{
      'server': 'samba-winbind',
      'services': ['nmb', 'winbind',],
      'utils': ['attr', 'samba-winbind-clients', 'samba-winbind-krb5-locator', 'cifs-utils', 'oddjob-mkhomedir', 'sssd-libwbclient'],
      'libnss': 'samba-winbind-modules',
      'pam_authconfig': '/usr/sbin/authconfig --update --enablewinbind --enablewins --enablemkhomedir --enablewinbindauth',
      'pam_authconfig_cmd': '/usr/sbin/authconfig',
   },
   'Debian': {
      'server': 'winbind',
      'services': ['nmbd', 'winbind',],
      'utils': ['libpam-winbind', 'smbldap-tools', 'cifs-utils',],
      'libnss': 'libnss-winbind',
      'pam_seen': '/var/lib/pam/seen',
      'pam_mkhomedir': '/usr/share/pam-configs/mkhomedir',
      'pam_authconfig': 'DEBIAN_FRONTEND=noninteractive /usr/sbin/pam-auth-update',
      'pam_authconfig_cmd': '/usr/sbin/pam-auth-update',
   },
   'Suse':{
      'server': 'samba-winbind',
      'libnss': '',
      'services': ['nmb', 'winbind',],
      'utils': ['gvfs-backend-samba', 'attr', 'cifs-utils',],
      'pam_authconfig': '/usr/sbin/pam-config -a --winbind --mkhomedir --mkhomedir-umask=0077 --mkhomedir-skel=/etc/skel',
      'pam_authconfig_cmd': '/usr/sbin/pam-config',
   },
 }, grain='os_family', merge=salt['grains.filter_by']({
    'Fedora': {
      'pam_authconfig': '/usr/sbin/authconfig --update --enablewinbind --enablemkhomedir --enablewinbindauth --disablesssd --disablesssdauth',
     },
   }, grain='os')
)%}

{# start with defaults, merge osmappings, and finally pillars #}
{% import_yaml "samba/defaults.yaml" as defaults %}
{% do defaults.samba.update( samba_osmap ) %}
{% do defaults.samba.winbind.update( winbind_osmap ) %}
{% set samba = salt['pillar.get']( 'samba', default=defaults.samba, merge=True) %}

