
## Definitions to extend and override defaults

samba:
  role: ROLE_DOMAIN_MEMBER
  conf:
    render:
      ## List the sections your smb.conf should include
      section_order: ['global', 'homes', 'printers', 'sharename', 'user1share']
      include_unordered_sections: yes

    sections:
      global:
        workgroup: EXAMPLE
        netbios name: example
        bind interfaces only: yes
        interfaces: lo bond0

      user1share:
        ## Optional site specific extension to smb.conf
        comment: "user1 samba share"
        path: /home/user1
        valid users: user1
        create mode: '0660'
        directory mode: '0770'
        public: no
        writable: yes
        printable: no

  users:
    ## Optional site specific extension to smb.conf
    user1:
      password: user1sambapassword
    user2:
      password: user2sambapassword

  winbind:
    krb5_default_realm: EXAMPLE.COM
