
## Definitions to extend and override defaults

samba:
  role: ROLE_DOMAIN_MEMBER
  conf:
    render:
      ## list the sections your smb.conf should include
      section_order: ['global', 'homes', 'printers', 'sharename', 'user1share']
      ## include sections from default.yaml (yes) or ONLY those listed above (no)
      include_unordered_sections: no

    sections:
      global:
        workgroup: EXAMPLE
        netbios name: example
        bind interfaces only: yes
        interfaces: lo bond0

      user1share:
        ## Optional site specific extension to smb.conf
        comment: "user1 samba share"
        path: /home/user1
        valid users: user1
        create mode: '0660'
        directory mode: '0770'
        public: no
        writable: yes
        printable: no

  users:
    ## Optional site specific extension to smb.conf
    ## user.present passwd needs plaintext or hash. Hash is recommended, generate it with the following command -> openssl passwd -1
    ## pdbedit.managed nt needs hash. Plaintext seem to be broken (https://github.com/saltstack-formulas/samba-formula/issues/35). Generate it with the following command -> salt '*' pdbedit.generate_nt_hash PASSWORD
    user1:
      password:
        passwd: $1$vFH3.Plc$7CZnr18jaLx1fMBGm1NMP/ ## Equals "user1sambapassword" in plaintext
        nt: EB11C288046508EBE2AA213DB0860813 ## Equals "user1sambapassword" in plaintext
    user2:
      password: 
        passwd: $1$Kvm5/Q6Y$B19DYyLRCqeUsyacipVet1 ## Equals "user2sambapassword" in Plaintext
        nt: 5AA13065E0B8A81835D48291E5C47236 ## Equals "user2sambapassword" in Plaintext

  winbind:
    krb5_default_realm: EXAMPLE.COM
